.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 60%;
  margin: auto;
}

.card {
  position: relative;
  min-width: 100px;
  min-height: 100px;
}
.deleteButton {
  position: absolute;
  right: 0;
  top: 0;
}

.Module {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.618);
  display: none;
}
.inpBox {
  width: 30%;
  height: 400px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}
.inpCard {
  height: 400px;
  position: relative;
}
.CloseCreateModal {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 20px 0 0;
}
.CreateModal {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid wheat;
}
.CancelModal {
  position: absolute;
  bottom: 30px;
  right: 180px;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid wheat;
}
.inptext {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.inptext input {
  width: 300px;
  height: 40px;
}

.CreateMod {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.editModal {
  display: none;
}
